/*
此处使用自定义css修复主题toc栏多级标题缩进问题。
针对主题的修复：https://github.com/Axiaobo7788/starlight-material-design-theme/pull/2
*/
nav[aria-labelledby="starlight__on-this-page"] a,
ul.isMobile a {
  padding-inline-start: calc(1rem + var(--depth) * 1rem) !important;
}

/*
减小右侧导航栏间距
*/
:root {
  --sl-content-width: 63rem; 
}

@media (min-width: 72rem) {
  .right-sidebar-container {
    width: 280px !important;
    flex: none !important;
  }

/* 仅在包含 TOC（右侧目录）的页面，让主面板铺满剩余空间 */
  html[data-has-toc] .main-pane {
    flex: 1 1 0% !important;
    width: auto !important;
  }

  /* 仅在包含 TOC 的页面，取消内容容器的居中，使其靠左并自定义边距 */
  html[data-has-toc] .main-pane .sl-container {
    margin-inline-start: 2rem !important; 
  }
}

/* 隐藏导航栏的小圆点 */
.site-title::before { display: none !important; }